{"openapi": "3.1.0", "info": {"title": "Napta Integration API", "description": "<span style=\"color: red;\">This API documentation uses example data. For documentation specific to your Napta instance, visit the app's <a href='https://app.napta.io/admin/documentation_iapi' target='_blank'>admin page</a>.</span>", "version": "v1", "contact": {"email": "support@napta.io"}}, "servers": [{"url": "https://api.napta.io/integration/v1"}, {"url": "https://api.napta.io/integration/v0"}], "tags": [{"group": {"name": "About the API"}, "name": "Introduction", "description": "This documentation shows how to use the integration API.\n\nWhy \"integration\"? Because this API is mainly intended to be used for the integration of Napta with your Information System:\n- to import data from your Information System to Napta\n- to export data from Napta to your Information System\n\n\nThe base URL for this API is `https://api.napta.io/integration/v1`.\n`https://api.napta.io/integration/v0` is a deprecated alias of the very same API: both base URLs expose the\nexact same endpoints and the exact same behaviour. `v0` is still supported for backward compatibility, but it\nshould no longer be used: `v1` is the recommended base URL.\n\n\nURLs and data sent to this API should be UTF-8 encoded. Body of requests must be valid JSON objects. Float values only accept dot character as decimal separator.\n\n\nTo be provided with access and use this API, ask credentials to your Napta Contact.\n\n\nNaming conventions used in this documentation correspond to the English version of your Napta app.\nTo align with the documentation,\nyou can switch to the English language by accessing the language selector located under your profile picture in the top right corner of the app interface.\n\n\nThis API is neither restricted by rights configured on the App nor by rights of the user to whom the credentials are linked."}, {"group": {"name": "About the API"}, "name": "Authentication", "description": "This API authenticates requests using **OAuth2 Bearer tokens**.\n\n\nTo obtain a token, use the OAuth2 Client Credentials flow \u2014\nset the `audience` parameter to `integration` to scope the token to this API.\nThe access token is valid for **2 hours** and should be reused as long as it is valid.\nYou may experience limitations if you request more than **200 tokens** per day.\n\n\n```cURL\ncurl --request POST \\   \n    --url 'https://login.napta.io/oauth/token' \\        \n    --header 'content-type: application/x-www-form-urlencoded' \\        \n    --data grant_type=client_credentials \\      \n    --data client_id=YOUR_CLIENT_ID \\   \n    --data client_secret=YOUR_CLIENT_SECRET \\   \n    --data audience=integration\n```\n\nReminder: Ask your Napta Contact for a `client_id` and `client_secret`.\n\nOnce you have an access token, pass it as a Bearer token in the Authorization header:\n\n```cURL\ncurl --request GET \\    \n    --url 'https://api.napta.io/integration/v1/users' \\         \n    --header 'Authorization: Bearer YOUR_ACCESS_TOKEN'\n```\nFor more information about obtaining tokens, please refer to\n[OAuth 2.0 Client Credentials Flow](https://oauth.net/2/grant-types/client-credentials/)."}, {"group": {"name": "About the API"}, "name": "Rate limiting and performance", "description": "## Overview\n\nThe Integration API enforces rate limits to ensure fair usage and system stability. You have three configurable rate limits:\n\n### Default Limits\n- **10 seconds:** 100 requests (moving/rolling window)\n- **Daily:** 50,000 requests (fixed 24-hour window)\n- **Monthly:** 750,000 requests (fixed 30-day window)\n\n> These are default values. Your organization may have custom limits configured.\n\n### How Rate Limit Windows Work\n\n**10-Second Moving Window (Rolling):**\n- Continuously tracks requests over any rolling 10-second period\n- Each request counts against your limit for exactly 10 seconds\n- As time passes, old requests expire and your available count increases\n\n*Example:* You start with 100 requests available.\n- 14:30:00: Make 1 request \u2192 99 available\n- 14:30:01: Make 1 request \u2192 98 available\n- 14:30:10: First request expires (10 seconds old) \u2192 99 available\n- 14:30:11: Second request expires \u2192 100 available\n\nThink of it as a sliding 10-second window: each request \"uses a slot\" for 10 seconds, then automatically frees it up.\n\n**Daily Fixed Window (24 hours from first request):**\n- NOT a calendar day (midnight to midnight)\n- Your 24-hour window starts with your first request\n- You have up to 50,000 requests to use during this 24-hour period\n- Only resets when the full 24 hours expire\n- After reset, a new window only starts when you make your next request\n\n*Example:* You start with 50,000 requests available.\n- March 28, 16:43:00: Make your first request \u2192 49,999 available, window starts\n- March 28, 20:00:00: Used 30,000 requests \u2192 20,000 available\n- March 29, 00:00:00: Used all 50,000 \u2192 0 available (still in same window!)\n- March 29, 16:42:59: Still 0 available (window hasn't expired yet)\n- March 29, 16:43:00: Window expires, no active window\n- March 30, 09:15:00: Make a request \u2192 49,999 available, new 24-hour window starts\n\nThink of it as a 24-hour timer that starts when you make your first request. You get one bucket of 50,000 requests to use during those 24 hours. When the timer expires, no new timer starts until you make another request.\n\n**Monthly Fixed Window (30 days from first request):**\n- NOT a calendar month (January, February, etc.)\n- Your 30-day window starts with your first request\n- You have up to 750,000 requests to use during this 30-day period\n- Only resets when the full 30 days expire\n- After reset, a new window only starts when you make your next request\n\n*Example:* You start with 750,000 requests available.\n- March 28, 16:43:00: Make your first request \u2192 749,999 available, window starts\n- April 15: Used 500,000 requests \u2192 250,000 available\n- April 27, 16:42:59: Used all 750,000 \u2192 0 available (still in same window!)\n- April 27, 16:43:00: Window expires, no active window\n- May 2, 10:30:00: Make a request \u2192 749,999 available, new 30-day window starts\n\nThink of it as a 30-day timer that starts when you make your first request. You get one bucket of 750,000 requests to use during those 30 days. When the timer expires, no new timer starts until you make another request.\n\n### Rate Limit Errors\n\nWhen you exceed a limit, you'll receive:\n- **Status Code:** `429 Too Many Requests`\n- **Error Message:** Indicates which limit was exceeded\n  - 10-second: \"Too many requests in a short period. Please slow down and try again in a few seconds.\"\n  - Daily: \"Daily quota exceeded. Contact support if you need a higher limit.\"\n  - Monthly: \"Monthly quota exceeded. Contact support if you need a higher limit.\"\n\n### Best Practices\n\n**Handle 429 Errors:**\n- Implement exponential backoff (wait 1s, then 2s, 4s, 8s...)\n- For 10-second limits: retry after a few seconds\n- For daily/monthly limits: wait for window reset or contact support\n\n### Requesting Higher Limits\n\nIf you consistently hit rate limits, contact your Napta sales representative to discuss increasing your limits."}, {"group": {"name": "About the API"}, "name": "Error management", "description": "Handle errors gracefully, especially with exponential backoff:\n\n**429 (Too Many Requests)**\nIndicates that you've exceeded your rate limits. If you breach the 10-second moving window, retrying with exponential backoff is recommended.\nIf you surpass daily or monthly thresholds, you'll likely need to contact Napta sales to raise these limits.\nNote that 429 errors do not count against your rate limits. Because the API is idempotent, you can safely retry failed requests.\n\n**5xx (Server Errors)**\nThese errors can occur during auto-scaling or deployment. Retry with exponential backoff until the system becomes stable.\nIf the error persists it's likely a bug in the API. In this case, please report it to Napta support with the request details.\n\nSince this API is idempotent, repeated calls on errors do not cause data corruption."}, {"group": {"name": "About the API"}, "name": "External Ids", "description": "Some objects (such as Project, User and Assignment) have an external_id field.\n\nThis field is empty by default and can be used to store a **unique reference** to the object in your system.\n\n\nFor example, if you have a project with an id : `PROJECT-007` in your system, you can set the external_id of the\ncorresponding project in Napta to `PROJECT-007`.\n\n\nThis allows you to easily retrieve / update the corresponding object in Napta by using the external_id field directly\n**instead of having to maintain an association table between your ids and Napta ids**.\nExternal IDs are **case sensitive** when matching: for example, `PROJECT-007` is not equivalent to `Project-007`.\n\nIn our system, External IDs are uniquely assigned, with the exception of the `null` value,\nwhich can be associated with multiple objects.\nThis `null` value is allowed wherever the External IDs field is applicable.\n\nThe external_id field may be updated by providing both the Napta ID and the external ID in the request.\n\nThe Napta ID will be used to identify the object to update, and the external ID will be updated.\n\nProviding an external_id with the `null` value will remove the external ID from the object."}, {"group": {"name": "About the API"}, "name": "Create vs Update behavior", "description": "The PUT method is used to create or update a resource.\n\n\u26a0\ufe0f Unlike standard REST conventions, this API uses PUT with partial update semantics.\n\nOn creation (when the resource does not exist):\n- Any omitted fields will be set to their default values.\n- Required fields must be provided.\n\nOn update (when the resource already exists):\n- Only the fields explicitly provided in the request body will be updated.\n- Omitted fields will be left unchanged.\n- This allows you to update specific fields without resending the full resource.\nHowever, required fields must still be included, even if their values are not being changed."}, {"group": {"name": "About the API"}, "name": "Pagination", "description": "Several endpoints of this API employ pagination,\nmaking it essential to include pagination parameters in your request.\nFor your initial query, simply specify the 'limit' parameter.\nFor any subsequent queries, you must include the 'cursor' parameter,\nwhich you will receive in the prior response as 'next_cursor'.\n\nPagination uses a cursor-based approach, ensuring reliable data retrieval even during deletions or insertions.\nThis method prevents missing or duplicating entries while paginating through the data."}, {"group": {"name": "About the API"}, "name": "Custom Fields", "description": "Several endpoints of this API expose `custom_text_fields` and `custom_dropdown_fields` fields to enable the storage of additional information.\n\n\n## Custom Text Fields\nCustom text fields can be created and managed through the Napta App [here](https://app.napta.io/admin/metadata_field).\n\n\nOnce created, these fields dynamically appear in the API documentation and can be used to store text information.\n\nThese fields may also be referred as `metadata`.\n\n## Custom Dropdown Fields\nCustom dropdown fields can be created and managed through the Napta App [here](https://app.napta.io/admin/tag_type).\n\n\nImportant Notes:\n\n- Once created, these fields must have a \"key\" to dynamically appear in the API documentation and can be used to store information as a dropdown.\n- Dropdown values are created when specified in the request but are not deleted when no longer used.\n- Dropdown values given as an identifier (instead of a name) must already exist in your referential, otherwise the request will fail.\n- Single select dropdown must be given a string. Multi select dropdown must be given a list of string.\n\nThese fields may also be referred as `tags`."}, {"group": {"name": "About the API"}, "name": "Translated Fields", "description": "Some fields in this API are multilingual, allowing you to store and retrieve content in different languages.\n\n## Supported Languages\nThe following language codes are currently supported: **en** (English), **fr** (French), **de** (German) and **it** (Italian).\n\n\n## Creation and Initial Assignment\nWhen creating an object or assigning a value to a field that was previously `null`, **you must ensure every supported language receives a value.** To achieve this, you have two options:\n- **Explicitly provide** a translation for every single supported language code.\n- **Use the `default_translation` key** to automatically fill any language not explicitly specified in your request.\n\n## Updates\nFor updates to existing values, you can perform partial updates:\n- Only include the specific language keys you wish to modify.\n- Languages omitted from the request will remain unchanged.\n- The `default_translation` key is **strictly ignored** during updates.\n\n## Default Translation\nThe `default_translation` key is a \"write-only\" helper. It is used only during the processing of your request to populate the supported languages and is **not stored** in the application. It will never appear in the API responses.\n\nEven if you provide values for all currently supported languages, we recommend always including a `default_translation`. This ensures your objects remain fully populated and valid if the application introduces support for additional languages in the future.\n\n## Example Request\nIf you only want to provide the English and French versions and let the system handle the rest during creation:\n\n```json\n\"description\": {\n    \"en\": \"Description in English\",\n    \"fr\": \"Description en fran\u00e7ais\",\n    \"default_translation\": \"This text will be applied to de and it\"\n}\n```\n\n## Example Response\nFollowing the example above, a subsequent GET request would return a value for every supported language (the `default_translation` key is never returned):\n\n```json\n\"description\": {\n    \"en\": \"Description in English\",\n    \"fr\": \"Description en fran\u00e7ais\",\n    \"de\": \"This text will be applied to de and it\",\n    \"it\": \"This text will be applied to de and it\"\n}\n```"}, {"group": {"name": "About the API"}, "name": "Markdown", "description": "Some fields in this API (notably entity descriptions) accept Markdown formatting.\n\n## Supported Formatting\nOnly a subset of Markdown syntax is allowed; anything else is stripped out (sanitized). The accepted markup is:\n- **bold** via `**` or `__`\n- *italic* via `*` or `_`\n- <u>underline</u> via the HTML tag `<u>`\n- ordered lists via `1.`, `2.`, `3.`, etc.\n- unordered lists via `*` or `-`\n\nThe HTML tags matching these styles are also accepted, but they are converted to their Markdown equivalent: `<strong>` and `<b>` become `**`, `<em>` and `<i>` become `_`, `<ul>`/`<ol>`/`<li>` become list markers. The only exception is `<u>`, which is kept as-is since Markdown has no underline syntax.\n\nAny other tag is removed. Its text content is generally kept (e.g. a link `<a>` is unwrapped but its label remains), but in some cases the content may be dropped as well. For this reason, you should only send the accepted markup and avoid any other HTML tag, as its rendering is not guaranteed. We recommend sanitizing your input on your side before submitting it, rather than relying on this endpoint to clean it up for you.\n\n## Normalization\nBe aware that the content is reworked to be consistent, so what you get back may differ from what you submitted:\n- unordered list markers `*` are converted to `-`\n- bold `__` is normalized to `**`\n- italic `*` is normalized to `_`\n\n## Example\nA request sending the following value:\n\n```json\n\"description\": \"<strong>Important</strong>: review the *checklist* below * first item * second item\"\n```\n\nwould be stored and returned in its normalized form:\n\n```json\n\"description\": \"**Important**: review the _checklist_ below - first item - second item\"\n```"}, {"group": {"name": "About the API"}, "name": "Event Timelines Fields", "description": "Some data is stored in an event timeline (i.e. history of changes) such as location, position, daily cost or currency exchange rate.\nThis allows in-app reporting to use accurate data at any point in time.\n\n## General Information about timelines\n\nA timeline is a list of events with the following fields:\n- `value`: the value of the field at the time of the event and valid until the start of the next event\n- `application_date`: the date at which the event starts (format YYYY-MM-DD or literal \"first_event\").\n\nEvery timeline must have a starting event ('application_date' = 'first_event') that represents the value to use before any other event.\nIf a user's field value has never been modified, the timeline will contain only the first event (which will act as the default value).\nOrder of events in the list is not important, the API will sort them by 'application_date' before processing ('first_event' first).\nEvents may be in the future, in which case the value is not yet applied (but will be taken into account by the in-app reporting)\n\n'event_timelines' is a full-overwrite field, meaning that if you send a timeline, it will replace the existing one.\nWhen dealing with timelines, the easiest way to update them is to retrieve the user data, modify the timeline and send it back.\nFor event reschedule, simply update the 'application_date' of the event you want to reschedule and send back the timeline.\n\n## Specific Information about user event timelines\n\nFor user data, any in-app change or API call that modifies historicized user's data will update the event timeline of this user. This allows update the history automatically.\n\nIt is also possible to update the event timeline directly through the API while updating the field value.\n\nEach historicized field has its own event timeline. All timelines can be accessed through the user endpoint, on the field 'event_timelines'.\nCurrently historicized fields are:\n- location\n- position\n- business_unit\n- daily_cost_info\n- productive_share\n- hours_per_day\n- in_contract\n\nWhile all the timelines are sent when retrieving a user data, it is not mandatory to send all timelines when updating a user.\nYou can send only the timeline(s) you want to update.\n\nWhen sending a user event timeline, the event that is applicable at the current date MUST be compatible with the user's data AFTER the request is applied.\nFor example, the value of the current event for the location timeline should be the same as the user's location sent in the update/create request.\nOr the same as the current user's location if no location is sent in the update request.\n\n## Example with location change\nGiven a user with the following historic:\n- first_event: location = Paris, business_unit = BU_1, position = Developer, daily_cost = 500 \u20ac, productive_share = 0.8, hours_per_day = 8.0, in_contract = False\n- 2024-01-01: location = London, business_unit = BU_2, position = Developer Senior, daily_cost = 750 \u20ac, productive_share = 0.9, hours_per_day = 8.0, in_contract = True\n\nIf we want to change the user's information with the following updates:\n- first event's location from Paris to Lyon\n- application date of the location London from 2024-01-01 to 2025-01-01\n\nThe timeline to send would be:\n```json\nevent_timelines: {\n    \"location\": [\n        {\"application_date\": \"first_event\", \"value\": \"Lyon\"},\n        {\"application_date\": \"2025-01-01\", \"value\": \"London\"}\n    ]\n}\n```\n\nThen the user's data will be:\n- first_event: location = Lyon, business_unit = BU_1, position = Developer, daily_cost = 500 \u20ac, productive_share = 0.8, hours_per_day = 8.0, in_contract = False\n- 2024-01-01: location = Lyon, business_unit = BU_2, position = Developer Senior, daily_cost = 750 \u20ac, productive_share = 0.9, hours_per_day = 8.0, in_contract = True\n- 2025-01-01: location = London, business_unit = BU_2, position = Developer Senior, daily_cost = 750 \u20ac, productive_share = 0.9, hours_per_day = 8.0, in_contract = True\n\n## Example with contract suspension\nGiven a user with the following historic:\n- first_event: location = Paris, business_unit = BU_1, position = Intern, daily_cost = 250 \u20ac, productive_share = 0.7, hours_per_day = 8.0, in_contract = False\n- 2024-01-01: location = Paris, business_unit = BU_1, position = Intern, daily_cost = 250 \u20ac, productive_share = 0.7, hours_per_day = 8.0, in_contract = True\n\nIf we want to change the user's information with the following updates:\n- user left as intern on 2024-06-30\n- user was hired as full time contract on 2025-01-01\n\nThe timeline to send would be:\n```json\nevent_timelines: {\n    \"in_contract\": [\n        {\"application_date\": \"first_event\", \"value\": false,\n        {\"application_date\": \"2024-01-01\", \"value\": true},\n        {\"application_date\": \"2024-07-01\", \"value\": false},\n        {\"application_date\": \"2025-01-01\", \"value\": true}\n    ],\n    \"position\": [\n        {\"application_date\": \"first_event\", \"value\": \"Intern\"},\n        {\"application_date\": \"2025-01-01\", \"value\": \"Developer\"\n}\n```\n\nImport note: The application_date of the event where the user is leaving is one day after the leaving_date to ensure that the user is still considered as \"in contract\" on their leaving date.\n\nThen the user's data will be:\n- first_event: location = Paris, business_unit = BU_1, position = Intern, daily_cost = 500 \u20ac, productive_share = 0.8, hours_per_day = 8.0, in_contract = False\n- 2024-01-01: location = Paris, business_unit = BU_1, position = Intern, daily_cost = 250 \u20ac, productive_share = 0.7, hours_per_day = 8.0, in_contract = True\n- 2024-07-01: location = Paris, business_unit = BU_1, position = Intern, daily_cost = 250 \u20ac, productive_share = 0.7, hours_per_day = 8.0, in_contract = False\n- 2025-01-01: location = Paris, business_unit = BU_1, position = Developer, daily_cost = 500 \u20ac, productive_share = 0.8, hours_per_day = 8.0, in_contract = True\n\n## Summary\n- Each timeline MUST contain at least one event\n- Each timeline MUST contain EXACTLY one event with 'application_date' = 'first_event'\n\nAnd for User Event Timelines :\n\n- Send only the timelines you want to update\n- The current event in each timeline MUST be compatible with the user's data after the request is applied"}, {"group": {"name": "About the API"}, "name": "Access Limitation Management", "description": "API Access can be limited to certain endpoints and/or methods (GET/PUT/DELETE).\n\nLimitation can be set per access key so that different systems can have different access rights. For example:\n- Access to only GET /users and PUT /users for the HR system (user synchronization)\n- Access to only GET /time_entries and GET /projects (read-only access to access time entries)\n\nTrying to access a forbidden endpoint or method will result in a 403 Forbidden error.\n\nThis feature is only available for Premium plan. Contact your Napta Account Manager in order to setup access limitations."}, {"group": {"name": "About the API"}, "name": "Changes", "description": "## Policy\nThis API follows a policy of implementing non-breaking changes.\nThese changes aim to enhance functionality, improve performance,\nor introduce new features without disrupting existing integrations.\n\n\nIf a change is considered breaking and incompatible with the current version,\nit will be released in a new version to ensure continuity and stability for existing users.\nIn this spirit, a field may be deprecated (generally in favor of another one that replaces it): such a field\nshould no longer be used but remains fully functional. For backward compatibility reasons, it stays available and will not\nbe removed without a version bump of the Integration API, so you can keep relying on it.\n\nMore about the [API Backward Compatibility Policy](https://pickyourskills.slite.com/app/docs/jR9KMVV4cO6ZOF/API-Backward-Compatibility-Policy-shared)\n\n## Changelog\nThis changelog provides a history of changes made to the API.\n\n\n**October 2026:**\n- Added support for the custom dropdown fields of Requests and Assignments, and of their periods, on /custom_dropdown_fields/&lt;custom_key&gt; endpoint: their values can now be retrieved, created and updated.\n\n**September 2026:**\n- New base URL `https://api.napta.io/integration/v1`. The previous base URL `https://api.napta.io/integration/v0` is deprecated: it exposes the exact same endpoints and behaviour and remains supported for backward compatibility, but should no longer be used.\n- Added support for identifiers (napta_id or external_id) in the `custom_dropdown_fields` of `/assignments` endpoint and of its periods: on PUT, values can be given by identifier instead of name; on GET, the new query parameters `custom_dropdown_field[as]` (fields of the Assignment) and `periods.custom_dropdown_field[as]` (fields of its periods) return them as identifiers instead of names.\n- Fixed the scope of `custom_dropdown_field[as]` on `GET /requests` endpoint: it now only applies to the custom dropdown fields of the Request itself. The ones of its periods, contributor_criteria and prebooked_users are identified separately with the new query parameters `periods.custom_dropdown_field[as]`, `contributor_criteria.custom_dropdown_field[as]` and `prebooked_users.custom_dropdown_field[as]` (default `name`).\n- Added filter \"status\" on `GET /projects` endpoint, to filter projects on the name of their status, or on the absence of status (%00).\n- Added filter \"category\" on `GET /projects` endpoint, to filter projects on the name of their category, or on the absence of category (%00).\n- Added filter \"archived\" on `GET /projects` endpoint, to filter projects on whether they are archived or not.\n\n**August 2026:**\n- Improved the documentation.\n\n**July 2026:**\n- Improved the documentation.\n- Fixed error 500 returned when trying to update a user with a hiring_date or leaving_date that is invalid regarding the current user's dates. Now returns an error 422 explaining to rather reset the other hiring/leaving_date or use the field user.event_timelines.in_contract to manage multi-contract periods.\n- The referential endpoints (/clients, /business_units, /locations, /positions and /custom_dropdown_fields/&lt;custom_key&gt;) are now part of the standard documentation. They have been available since March 2026 but were previously only listed when browsing the documentation in advanced usage mode.\n\n**June 2026:**\n- Fixed the format of the `description` field on /skill_taxonomy/skills, /skill_taxonomy/certifications and /skill_taxonomy/grade_groups endpoints. The field now correctly accepts and returns Markdown (see [Markdown](#tag/Markdown)).\n- Added subfield `custom_dropdown_fields` on field `contributor_criteria` of `/requests` endpoint. This allow to add a criterion upon which custom_dropdown_field is expected on the requested user.\n- New /experiences endpoint with GET/PUT/DELETE methods.\n- Added field `days_sold` on /requests endpoint.\n- Added field `suggested_users` on /requests endpoint.\n- Added field `prebooked_users` on /requests endpoint.\n- Added fields `acquisition_date` and `expiry_date` on the PUT /certification_assessments endpoint and in the GET /certification_assessments endpoint response to manage the validity period of certifications.\n- Added field `notes` on /time_entries endpoint. This allow to add more context about the time_entry.\n- Added field `additional_visibility_on_business_units` on /users endpoint.\n- Deprecated field `secondary_business_units` on /users endpoint, still supported for backward compatibility. Use `additional_visibility_on_business_units` instead.\n- Added filter over endpoint /time_entries on projects (napta_id or external_id)\n\n**May 2026:**\n- Added field `event_timelines.custom_dropdown_fields` on /users endpoint to allow adding and modifying the historical values of custom_dropdown_fields of a user. Use technical keys from Admin > Dropdown fields (User Historised) as documentation keys are generic.\n- New /certification_assessments endpoint with GET/PUT/DELETE methods.\n- New /skill_taxonomy/skills endpoint with GET/PUT/DELETE methods.\n- New /skill_taxonomy/certifications endpoint with GET/PUT/DELETE methods.\n- New /skill_taxonomy/categories endpoint with GET/PUT/DELETE methods.\n- New /skill_taxonomy/grade_groups endpoint with GET methods.\n- Endpoint `/skill_assessments` is no longer in beta. Only skill assessments are now handled and returned; certification\nassessments, which were previously included, are no longer part of the response.\n\n**April 2026:**\n- Added field `additional_staffing_rights_on_business_units` on /users endpoint to allow modifying/retrieving additional business units a user has staffing rights on.\n\n**March 2026:**\n- New /business_units endpoint with GET/PUT methods.\n- New /clients endpoint with GET/PUT methods.\n- New /custom_dropdown_fields/&lt;custom_key&gt; endpoint with GET/PUT methods.\n- New /locations endpoint with GET/PUT methods.\n- New /positions endpoint with GET/PUT methods.\n- Added filter over Time Entries to filter on approval status (approved, pending, rejected) on GET /time_entries endpoint.\n\n**February 2026:**\n- Fixed a bug where assignment workload as rate was not correctly calculated when holidays existed in the period.\n\n**January 2026:**\n- Added support for hours and rates in /assignment and /request endpoints\n\n**December 2025:**\n- Added field `event_timelines.in_contract` on /users endpoint to allow adding and modifying contract suspensions of a user and its historic.\nThis introduces the ability to mark periods where a user is not in contract (internship, sabbatical, leave without pay, etc).\nThe feature will be progressively rolled out to all clients over the months of December and January.\nIn the meantime, trying to set this field may result in a 422 Unprocessable Entity error.\n- Field `description` on /projects and /users endpoints now accepts empty string. Empty strings are treated as null (clears the description).\n\n**October 2025:**\n- Added field `activity_description` on /assignments and /requests endpoints. Allow to give more details about the task to be done, the expected profile and the requirements.\n- Fixed a 500 (Internal Server Error) that occurred when sending an empty workweek (all days set to False) while creating or updating a user. Now returns a 422 (Unprocessable Entity) error.\n- Endpoint `/requests` is no longer in beta.\n\n**September 2025:**\n- Fixed filter \"custom_dropdown_fields\" on endpoint GET /projects. Now returns all matching projects and the accurate total count.\n- Fixed HTTP status code returned by PUT /time_entries endpoint. Now correctly returns 200 (OK) when updating an existing time entry and 201 (Created) when creating a new time entry.\n- Fixed a 500 (Internal Server Error) that occurred when creating a leave (PUT /leaves) conflicting with an existing assignment period.\n- Added read-only field `effective_daily_fee_info` on Assignment periods from the /assignments endpoint. This fields represents the actual daily fee used for the assignment period. It is either the `daily_fee_info` if set, or the user's default daily_fee at the start date of the assignment period or null if no user default daily fee is set.\n- [Beta] New /skill_assessments endpoint with GET/PUT/DELETE methods.\n- Added access limitation management to be able to restrict access to certain endpoints and/or methods (GET/PUT/DELETE) per access key. See [Access Limitation Management](#tag/Access-Limitation-Management) for more information.\n\n**August 2025:**\n- Remove the ability to set a project hierarchy deeper than one level (parent project with a parent) as it isn't supported by the app (endpoint `/projects` field \"parent_project\"). Now results in a 422 Unprocessable Entity error.\n- Added filter \"custom_text_fields\" on `GET /projects` endpoint to replace filter \"text_fields\" (wrong naming). Usage is the same, only one of these two filters may be used at a time.\n- Deprecated filter \"text_fields\" on `GET /projects` endpoint, still supported for backward compatibility. Use \"custom_text_fields\" instead.\n\n**July 2025:**\n- Added field `contributor_criteria` on Request from the /requests endpoint.\n- Added field `secondary_business_units` on /users endpoint to allow modifying/retrieving additional visible business units of a user.\n- Added support for user historized custom dropdown fields on endpoint `/users` (before, these tags were hidden and not updatable).\n\n**June 2025:**\n- Fixed a 500 (Internal Server Error) that occurred when an assignment period fell on a user's non-working days. Such periods are now treated as worked instead of being rejected. Previously, the rejection triggered an uncaught error.\n- Fix: If a matching leave isn't found when deleting, the API now correctly returns a 404 Not Found error as documented.\n- [Beta] New /requests endpoint with GET/PUT/DELETE methods.\n\n**May 2025:**\n- Added filters on `GET /projects` endpoint to allow filtering on project custom_dropdown_fields values.\n- Fixed a bug where updating a project with a parent_project referencing itself would result in an error (now returns a 422 Unprocessable Entity error).\n\n**April 2025:**\n- Added field `approval_status` on Time Entry from the /time_entries endpoint.\n- Fixed field `is_validated` calculation for starting/ending weeks of month.\n- Deprecated field `is_validated` on /time_entries endpoint, still supported for backward compatibility. Use `approval_status` instead.\n\n**March 2025:**\n- Fixed documentation for /currencies endpoint.\n\n**February 2025:**\n- Added field `status` on Assignment from the /assignments endpoint.\n- Fixed a bug where updating an existing assignment without specifying the `simulated` field would set it to `False`.\n\n**January 2025:**\n- Added filter on `GET /assignments` endpoint to allow filtering on simulated state.\n- Added field `workweek` on /users endpoint to allow adding and modifying user workweek (days worked during a week by the user).\n- Added fields `hours_per_day` and `event_timelines.hours_per_day` on /users endpoint to allow adding and modifying hours per day of a user and its historic.\n- Added field `daily_fee_info` on /assignments endpoint to allow adding and modifying daily fee of an assignment periods.\n\n**November 2024:**\n- Added fields `custom_dropdown_fields` and `custom_text_fields` on Assignment, added field `custom_dropdown_fields` on Assignment periods from the /assignments endpoint.\n- New /currencies endpoint with GET/PUT methods.\n\n**October 2024:**\n- Added field `status` on Assignment periods from the /assignments endpoint.\n- Added filters on `GET /projects` endpoint to allow filtering on project text_fields values.\n- New /assignments endpoint with GET/PUT/DELETE methods.\n\n**July 2024:**\n- Added error handling for non utf-8 encoded data (error 400).\n- Added field `locked` on /projects endpoint to allow locking a project (disable modification and staffing on the app).\n\n**June 2024:**\n- Added the ability to update the external_id of a project or a user.\n- Added field `total_count` to the `pagination` section on all GET endpoints providing information about the total number of objects available.\n\n**May 2024:**\n- Added field `productive_share` on /users endpoint to allow adding and modifying productive share of a user (available in `event_timelines` field as well).\n- Added management of multi select dropdown fields on /projects endpoint.\n- Added read only fields `actual_start_date` and `actual_end_date` on /projects endpoint to allow retrieving project actual dates.\n- Added field `event_timelines` on /users endpoint to allow updating user event timelines (location, position, business_unit and daily_cost).\n\n**April 2024:**\n- Added monetary information on /projects and /users endpoints.\n    - `daily_cost_info` replaces `daily_cost` on /users endpoint.\n    Deprecated field `daily_cost`, still supported for backward compatibility.\n    - `sold_budget_info` replaces `sold_budget` on /projects endpoint.\n    Deprecated field `sold_budget`, still supported for backward compatibility.\n    - `currency` attribute is added to `fees`  on /projects endpoint.\n\n**March 2024:**\n- Removed field `location` on /projects endpoint. The project location was removed from Napta platform as information is not relevant.\n- PUT endpoints now return `201 Created` HTTP status if an object has been created.\n- Added filters on `GET /time_entries` endpoint to allow filtering on user napta id and external id.\n- Restructured documentation.\n- Added filters on `GET /projects` endpoint to allow filtering on project napta id and external id.\n\n**February 2024:**\n- Optimized the performance of all the GET endpoints (x10-15 faster).\n- Added field `man_days_sold` on /projects endpoint to allow adding and modifying man days sold on a project.\n- Added field `fees` on /projects endpoint to allow adding and modifying fees on a project.\n- Small improvements in the documentation (e.g : added errors schema, display adjustments).\n- Added filters on `GET /leaves` endpoint to allow filtering on user napta id and external id.\n- Added field `archived` on /projects endpoint to allow project archiving.\nAn archived project will no more be available in reports but is still accessible from the App.\nAn archived project may be still referenced in kanban project board.\nTo remove it while archiving a project, simply specify kanban_column=null.\n- Added field `active` on /users endpoint to activate or deactivate a user.\n\n**January 2024:**\n- First release of the integration API with the following endpoints: users, projects, time_entries and leaves."}, {"group": {"name": "Advanced usage"}, "name": "Managing referential objects", "description": "The API lets you easily reference other objects using their name. But this has some limitations when it comes to managing a referential that may evolve over time (in particular when you need to update the name of an object).\n\n\nIn order to manage a referential, you may access to dedicated endpoints (see [Endpoints - Referential objects](#tag/Endpoints---Referential-objects) section)\n\n\nWhen creating or updating an object, you can reference objects of the referential by their name (simple use case) OR by their identifier using a dictionary with either `napta_id` or `external_id` (advanced use case).\n\n\nWhen retrieving data, you may use query parameters to choose to have referential objects represented by their name (simple use case) OR by their identifier (advanced use case). For example, to retrieve the Client of a Projects as an identifier, use the query parameter `?client[as]=identifier`"}, {"group": {"name": "Endpoints"}, "name": "User", "description": "User related endpoints.\n\n\nUser deletion is not supported by the API as it will result in data loss on several relations and will impact reportings.\nHowever you can deactivate the user instead."}, {"group": {"name": "Endpoints"}, "name": "Project", "description": "Project related endpoints."}, {"group": {"name": "Endpoints"}, "name": "Time Entry", "description": "Time Entry related endpoints.\n\n\nA time entry is a time imputation of a user on a project for a date."}, {"group": {"name": "Endpoints"}, "name": "Leave", "description": "Leave related endpoints.\n\n\nA Leave is a period of time during which a user is not working.\n\nIt is represented by a start date and an end date.\n\nHalf-days are supported through starts_at_midday and ends_at_midday parameters."}, {"group": {"name": "Endpoints"}, "name": "Assignment", "description": "Assignment related endpoints.\n\n\nAn Assignment represents a staffing need on a project that **has been assigned to a User**.\n\n**Lifecycle**\n- If a User is unassigned from an Assignment, the Assignment transitions back into a [Request](#tag/Request).\n- You cannot assign or unassign Users through the API \u2014 this action is only possible through the App interface.\n\n**Limitations**\n- The [external_id](#tag/External-Ids) must be unique across Requests and Assignments, as a Request can transition into Assignments and vice versa.\n- Assignments on project snapshots cannot be retrieved or modified."}, {"group": {"name": "Endpoints"}, "name": "Request", "description": "Request related endpoints.\n\n\nA Request represents a staffing need on a project that **has not yet been assigned to a User**.\n\n**Lifecycle**\n- If a User is assigned on a Request, the Request transitions into an [Assignment](#tag/Assignment).\n- You cannot assign or unassign Users through the API \u2014 this action is only possible through the App interface.\n\n**Limitations**\n- The [external_id](#tag/External-Ids) must be unique across Requests and Assignments, as a Request can transition into Assignments.\n- Requests on project snapshots cannot be retrieved or modified."}, {"group": {"name": "Endpoints"}, "name": "Currency", "description": "Currency related endpoints.\n\n\nCurrencies allows to manage different currencies with different exchange rate.\nOne currency on the app is considered as the main currency, it is the currency used as reference for all exchange rates. This is set by Napta and cannot be changed.\nExchange rates can be set for a specific period of time and are used in the app for all financial calculations.\nA currency may be archived (except the main currency) to prevent its use in the app (old values will still be visible)."}, {"group": {"name": "Endpoints"}, "name": "Skill Assessment", "description": "Skill Assessment related endpoints.\n\n\nSkill Assessments allow to evaluate the skills of users in different areas."}, {"group": {"name": "Endpoints"}, "name": "Certification Assessment", "description": "Certification assessment related endpoints.\n\n\nCertification assessments allow to evaluate the certifications of users in different areas."}, {"group": {"name": "Endpoints"}, "name": "Experience", "description": "Experience related endpoints.\n\n\nAn Experience represents a past professional engagement in a User's career history."}, {"group": {"name": "Endpoints - Skill Taxonomy"}, "name": "Grade Group", "description": "Grade Group of Skills related endpoints.\n\n\nGrade Groups define the standardized evaluation scales used to measure proficiency across the application.\nA Grade Group consists of a set of levels (grades) that provide a consistent framework for assessment.\nOnce defined, these groups are assigned to specific skills or certifications to ensure that every evaluation follows a pre-established and uniform grading logic.\n\n\nGrade groups can be created and managed through the Napta App [here](https://app.napta.io/admin/grade_group)."}, {"group": {"name": "Endpoints - Skill Taxonomy"}, "name": "Category", "description": "Category related endpoints.\n\n\nCategories define different areas or types of competencies and are shared between skills and certifications.\nThey allow you to organize skills and certifications into logical groups (e.g., \"Technical Skills\", \"Soft Skills\", \"Languages\").\nThis hierarchical organization is essential for navigating the referential and building a coherent mapping of the company's expertise."}, {"group": {"name": "Endpoints - Skill Taxonomy"}, "name": "Skill", "description": "Skills related endpoints.\n\n\nSkills represent the individual competencies present within your company.\nEvery skill must be linked to a Category for organizational purposes and associated with a Grade Group to define its grading scale.\nThis dual association ensures that each skill is correctly classified in the referential and consistently assessed across employees."}, {"group": {"name": "Endpoints - Skill Taxonomy"}, "name": "Certification", "description": "Certifications related endpoints.\n\n\nCertifications represent the formal qualifications recognized within your company.\nEvery certification must be linked to a Category for organizational purposes and associated with a Grade Group to define its grading scale.\nThis dual association ensures that each certification is correctly classified in the referential and consistently tracked across employees."}, {"group": {"name": "Endpoints - Referential objects"}, "name": "Client", "description": "Client related endpoints.\n\n\nA Client represents a company or an organization that you are working for or with.\nIt is used as a categorization field for projects."}, {"group": {"name": "Endpoints - Referential objects"}, "name": "Business Unit", "description": "Business Unit related endpoints.\n\n\nA Business Unit represents a department or a division in your organization."}, {"group": {"name": "Endpoints - Referential objects"}, "name": "Location", "description": "Location related endpoints.\n\n\nA Location represents a physical place where your employees are working."}, {"group": {"name": "Endpoints - Referential objects"}, "name": "Position", "description": "Position related endpoints.\n\n\nA Position represents a role or a job title in your organization."}, {"group": {"name": "Endpoints - Referential objects"}, "name": "Custom Dropdown Field", "description": "Custom Dropdown Field related endpoints.\n\n\nThese endpoints allow to retrieve, create and update possible values of Custom Dropdown Field.\n\nManageable Custom Dropdown Fields are the ones of Projects, Users (including historised ones), Requests and Assignments, and of the periods of Requests and Assignments.\n\nCustom Dropdown Field can't be creating using the API and must be created on the platform administration panel.\n\nYou can find all Custom Dropdown Field and their associated unique key from the administration panel.\n\n\nSee [Custom Dropdown Fields](#tag/Custom-Fields/Custom-Dropdown-Fields) for more information."}], "x-tagGroups": [{"name": "About the API", "tags": ["Introduction", "Authentication", "Rate limiting and performance", "Error management", "External Ids", "Create vs Update behavior", "Pagination", "Custom Fields", "Translated Fields", "Markdown", "Event Timelines Fields", "Access Limitation Management", "Changes"]}, {"name": "Advanced usage", "tags": ["Managing referential objects"]}, {"name": "Endpoints", "tags": ["User", "Project", "Time Entry", "Leave", "Assignment", "Request", "Currency", "Skill Assessment", "Certification Assessment", "Experience"]}, {"name": "Endpoints - Skill Taxonomy", "tags": ["Grade Group", "Category", "Skill", "Certification"]}, {"name": "Endpoints - Referential objects", "tags": ["Client", "Business Unit", "Location", "Position", "Custom Dropdown Field"]}], "paths": {"/users": {"get": {"tags": ["User"], "summary": "Get users", "description": "Get all users.\n\nThis API endpoint employs pagination (see [Pagination](#tag/Pagination))", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserGetResponseOK"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "parameters": [{"name": "pagination[cursor]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Identifier of the next item to fetch", "examples": ["MTAw"], "title": "Pagination[Cursor]"}}, {"name": "pagination[limit]", "in": "query", "required": false, "schema": {"default": 100, "description": "Maximum number of items to fetch", "examples": [100], "maximum": 500, "minimum": 1, "title": "Pagination[Limit]", "type": "integer"}}, {"name": "id.napta_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"exclusiveMinimum": 0, "type": "integer"}, {"type": "null"}], "default": null, "description": "Filter on Napta identifier of the User", "examples": [1], "title": "Id.Napta Id[Eq]"}}, {"name": "id.napta_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple Napta identifier of the Users, comma separated", "examples": ["1,7"], "title": "Id.Napta Id[In]"}}, {"name": "id.external_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on unique reference of the User (see [External Ids](#tag/External-Ids)).", "examples": ["agent-007"], "title": "Id.External Id[Eq]"}}, {"name": "id.external_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple unique reference of the Users, comma separated (see [External Ids](#tag/External-Ids)).", "examples": ["agent-007,agent-q"], "title": "Id.External Id[In]"}}, {"name": "business_unit[as]", "in": "query", "required": false, "schema": {"$ref": "#/$defs/IdentifierType", "default": "name", "description": "Method to use to identify BusinessUnit on the referential.\n\nPossible values are:\n- `name`: match existing business_units based on their name (case sensitive).\n- `identifier`: match existing business_units based on their identifier (napta_id or external_id)."}}, {"name": "location[as]", "in": "query", "required": false, "schema": {"$ref": "#/$defs/IdentifierType", "default": "name", "description": "Method to use to identify Location on the referential.\n\nPossible values are:\n- `name`: match existing locations based on their name (case sensitive).\n- `identifier`: match existing locations based on their identifier (napta_id or external_id)."}}, {"name": "position[as]", "in": "query", "required": false, "schema": {"$ref": "#/$defs/IdentifierType", "default": "name", "description": "Method to use to identify Position on the referential.\n\nPossible values are:\n- `name`: match existing positions based on their name (case sensitive).\n- `identifier`: match existing positions based on their identifier (napta_id or external_id)."}}, {"name": "custom_dropdown_field[as]", "in": "query", "required": false, "schema": {"$ref": "#/$defs/IdentifierType", "default": "name", "description": "Method to use to identify Custom Dropdown Field values on the referential.\n\nPossible values are:\n- `name`: match existing custom dropdown field values based on their name (case sensitive).\n- `identifier`: match existing custom dropdown field values on their identifier (napta_id or external_id)."}}]}, "put": {"tags": ["User"], "summary": "Load a user", "description": "Create a new user or update an existing one.\nIf the user already exists, it will be updated with the new data.\n\nUnset values in the body will be left unchanged.\nExplicitly setting a value to null will set the value to null on Napta as well.", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPILoadResponseSuccess"}}}}, "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPILoadResponseSuccess"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserLoadRequest"}}}}}}, "/projects": {"get": {"tags": ["Project"], "summary": "Get projects", "description": "Get all projects.\n\nThis API endpoint employs pagination (see [Pagination](#tag/Pagination))", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProjectGetResponseOK"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "parameters": [{"name": "pagination[cursor]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Identifier of the next item to fetch", "examples": ["MTAw"], "title": "Pagination[Cursor]"}}, {"name": "pagination[limit]", "in": "query", "required": false, "schema": {"default": 100, "description": "Maximum number of items to fetch", "examples": [100], "maximum": 500, "minimum": 1, "title": "Pagination[Limit]", "type": "integer"}}, {"name": "id.napta_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"exclusiveMinimum": 0, "type": "integer"}, {"type": "null"}], "default": null, "description": "Filter on Napta identifier of the Project", "examples": [1], "title": "Id.Napta Id[Eq]"}}, {"name": "id.napta_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple Napta identifier of the Projects, comma separated", "examples": ["1,7"], "title": "Id.Napta Id[In]"}}, {"name": "id.external_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on unique reference of the Project (see [External Ids](#tag/External-Ids)).", "examples": ["mission-007"], "title": "Id.External Id[Eq]"}}, {"name": "id.external_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple unique reference of the Projects, comma separated (see [External Ids](#tag/External-Ids)).", "examples": ["mission-007,mission-006"], "title": "Id.External Id[In]"}}, {"name": "custom_text_fields[{field_name}][in]", "in": "query", "required": false, "schema": {"anyOf": [{"additionalProperties": {"items": {"anyOf": [{"type": "string"}, {"type": "null"}]}, "type": "array"}, "type": "object"}, {"type": "null"}], "default": null, "description": "Filter on multiple values of a custom text field of the Project.\n{field_name} must be replaced by the key of the custom text field.\n\nAll values must be comma separated without space character.\nIf the value contains a comma, just escape the comma with a backslash (\\,).\n\nTo filter on null value, pass the encoded null ASCII value (%00).\n\nTo filter on multiple different text fields, you can provide this parameter multiple time (ex: custom_text_fields[my_field_name][in]=value1,value2&custom_text_fields[my_field_name2][in]=value3,value4).\nIn this case, an 'and' filter will be applied between the different fields.", "title": "Custom Text Fields[{Field Name}][In]"}}, {"name": "custom_dropdown_fields[{field_name}][in]", "in": "query", "required": false, "schema": {"anyOf": [{"additionalProperties": {"items": {"anyOf": [{"type": "string"}, {"type": "null"}]}, "type": "array"}, "type": "object"}, {"type": "null"}], "default": null, "description": "Filter on multiple values of a custom dropdown field of the Project.\n{field_name} must be replaced by the key of the custom dropdown field.\n\nAll values must be comma separated without space character.\nIf the value contains a comma, just escape the comma with a backslash (\\,).\n\nTo filter on null value, pass the encoded null ASCII value (%00).\n\nTo filter on multiple different dropdown fields, you can provide this parameter multiple time (ex: custom_dropdown_fields[my_field_name][in]=value1,value2&custom_dropdown_fields[my_field_name2][in]=value3,value4).\nIn this case, an 'and' filter will be applied between the different fields.\n\nWhile filtering on a custom dropdown field accepting multiple values, any project having at least one of the values will be returned.", "title": "Custom Dropdown Fields[{Field Name}][In]"}}, {"name": "status[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple names of the status of the Project.\n\nAll values must be comma separated without space character around the comma.\nIf the value contains a comma, just escape the comma with a backslash (\\,).\n\nTo filter on null value (Projects having no status), pass the encoded null ASCII value (%00).", "examples": ["In Progress,Won"], "title": "Status[In]"}}, {"name": "category[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple names of the category of the Project.\n\nAll values must be comma separated without space character around the comma.\nIf the value contains a comma, just escape the comma with a backslash (\\,).\n\nTo filter on null value (Projects having no category), pass the encoded null ASCII value (%00).", "examples": ["Top Secret,Internal"], "title": "Category[In]"}}, {"name": "archived[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "default": null, "description": "Filter on whether the Project is archived or not", "examples": [false], "title": "Archived[Eq]"}}, {"name": "text_fields[{field_name}][in]", "in": "query", "required": false, "schema": {"anyOf": [{"additionalProperties": {"items": {"anyOf": [{"type": "string"}, {"type": "null"}]}, "type": "array"}, "type": "object"}, {"type": "null"}], "default": null, "deprecated": true, "description": "DEPRECATED - use custom_text_fields instead.\n\nFilter on multiple values of a custom text field of the Project.\n{field_name} must be replaced by the key of the custom text field.\n\nAll values must be comma separated without space character.\nIf the value contains a comma, just escape the comma with a backslash (\\,).\n\nTo filter on null value, pass the encoded null ASCII value (%00).\n\nTo filter on multiple different text fields, you can provide this parameter multiple times (ex: text_fields[my_field_name][in]=value1,value2&text_fields[my_field_name2][in]=value3,value4).\nIn this case, an 'and' filter will be applied between the different fields.", "title": "Text Fields[{Field Name}][In]"}}, {"name": "client[as]", "in": "query", "required": false, "schema": {"$ref": "#/$defs/IdentifierType", "default": "name", "description": "Method to use to identify client on the referential.\n\nPossible values are:\n- `name`: match existing clients based on their name (case sensitive).\n- `identifier`: match existing clients based on their identifier (napta_id or external_id)."}}, {"name": "business_unit[as]", "in": "query", "required": false, "schema": {"$ref": "#/$defs/IdentifierType", "default": "name", "description": "Method to use to identify BusinessUnit on the referential.\n\nPossible values are:\n- `name`: match existing business_units based on their name (case sensitive).\n- `identifier`: match existing business_units based on their identifier (napta_id or external_id)."}}, {"name": "custom_dropdown_field[as]", "in": "query", "required": false, "schema": {"$ref": "#/$defs/IdentifierType", "default": "name", "description": "Method to use to identify Custom Dropdown Field values on the referential.\n\nPossible values are:\n- `name`: return custom dropdown field values as their name (case sensitive).\n- `identifier`: return custom dropdown field values as their identifier (napta_id or external_id)."}}]}, "put": {"tags": ["Project"], "summary": "Load a project", "description": "Create a new project or update an existing one.\nIf the project already exists, it will be updated with the new data.\n\nUnset values in the body will be left unchanged.\nExplicitly setting a value to null will set the value to null on Napta as well.", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPILoadResponseSuccess"}}}}, "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPILoadResponseSuccess"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProjectLoadRequest"}}}}}, "delete": {"tags": ["Project"], "summary": "Delete a project", "description": "Delete a project (multiple deletions require multiple requests).", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIDeleteResponseOK"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "parameters": [{"name": "id.napta_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "integer"}, {"type": "null"}], "default": null, "description": "Napta identifier of the Project. Either `id.napta_id` or `id.external_id` must be provided (but not both).", "examples": [1], "title": "Id.Napta Id"}}, {"name": "id.external_id", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Unique reference of the Project (see [External Ids](#tag/External-Ids)).\n\nEither `id.napta_id` or `id.external_id` must be provided (but not both).", "examples": ["agent-007"], "title": "Id.External Id"}}]}}, "/time_entries": {"get": {"tags": ["Time Entry"], "summary": "Get time entries", "description": "Get time entries for a given period (as daily imputations).\n                The workload_unit parameter allows to choose the unit of the workload in the response.\n                If not provided, the workload will be in days. When hours is specified, the workload is converted using the hours per day setting of the user.\n                \n\nThis API endpoint employs pagination (see [Pagination](#tag/Pagination))", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TimeEntryGetResponseOK"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "parameters": [{"name": "pagination[cursor]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Identifier of the next item to fetch", "examples": ["MTAw"], "title": "Pagination[Cursor]"}}, {"name": "pagination[limit]", "in": "query", "required": false, "schema": {"default": 100, "description": "Maximum number of items to fetch", "examples": [100], "maximum": 500, "minimum": 1, "title": "Pagination[Limit]", "type": "integer"}}, {"name": "date[ge]", "in": "query", "required": false, "schema": {"anyOf": [{"format": "date", "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on time entries date (greater or equal)", "examples": ["2021-01-01"], "title": "Date[Ge]"}}, {"name": "date[le]", "in": "query", "required": false, "schema": {"anyOf": [{"format": "date", "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on time entries date (less or equal)", "examples": ["2021-01-31"], "title": "Date[Le]"}}, {"name": "user.napta_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"exclusiveMinimum": 0, "type": "integer"}, {"type": "null"}], "default": null, "description": "Filter on Napta identifier of the User", "examples": [1], "title": "User.Napta Id[Eq]"}}, {"name": "user.napta_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple Napta identifier of the Users, comma separated", "examples": ["1,7"], "title": "User.Napta Id[In]"}}, {"name": "user.external_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on unique reference of the User (see [External Ids](#tag/External-Ids)).", "examples": ["agent-007"], "title": "User.External Id[Eq]"}}, {"name": "user.external_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple unique reference of the Users, comma separated (see [External Ids](#tag/External-Ids)).", "examples": ["agent-007,agent-q"], "title": "User.External Id[In]"}}, {"name": "project.napta_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"exclusiveMinimum": 0, "type": "integer"}, {"type": "null"}], "default": null, "description": "Filter on Napta identifier of the Project", "examples": [1], "title": "Project.Napta Id[Eq]"}}, {"name": "project.napta_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple Napta identifier of the Projects, comma separated", "examples": ["1,7"], "title": "Project.Napta Id[In]"}}, {"name": "project.external_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on unique reference of the Project (see [External Ids](#tag/External-Ids)).", "examples": ["mission-007"], "title": "Project.External Id[Eq]"}}, {"name": "project.external_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple unique reference of the Projects, comma separated (see [External Ids](#tag/External-Ids)).", "examples": ["mission-007,mission-q"], "title": "Project.External Id[In]"}}, {"name": "workload_unit", "in": "query", "required": false, "schema": {"default": "days", "description": "Expected unit of workload in the response", "enum": ["days", "hours"], "examples": ["days"], "title": "Workload Unit", "type": "string"}}, {"name": "status[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"enum": ["saved", "approval_pending", "validated"], "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on time entry status (equality)", "examples": ["saved"], "title": "Status[Eq]"}}, {"name": "status[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple time entry statuses, comma separated", "examples": ["saved,approval_pending"], "title": "Status[In]"}}]}, "put": {"tags": ["Time Entry"], "summary": "Load a time entry", "description": "Create a new time entry or update an existing one.\nIf the time entry already exists, it will be updated with the new workload.\n\nWhen a time entry is created with this API, it will be created as validated.\nThe `is_validated` and `status` fields are only available on read and it is not possible to set them.", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPILoadResponseSuccess"}}}}, "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPILoadResponseSuccess"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TimeEntryLoadRequest"}}}}}, "delete": {"tags": ["Time Entry"], "summary": "Delete time entries", "description": "Delete time entries for a given period (multiple deletions for multiple users or projects require multiple requests).", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIDeleteResponseOK"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "parameters": [{"name": "start_date", "in": "query", "required": true, "schema": {"description": "Beginning of the time entry on which to delete time entries (day included)", "examples": ["2021-01-01"], "format": "date", "title": "Start Date", "type": "string"}}, {"name": "end_date", "in": "query", "required": true, "schema": {"description": "End of the time entry on which to delete time entries (day included)", "examples": ["2021-01-02"], "format": "date", "title": "End Date", "type": "string"}}, {"name": "user.napta_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "integer"}, {"type": "null"}], "default": null, "description": "Napta identifier of the User. Either `user.napta_id` or `user.external_id` must be provided (but not both).", "examples": [1], "title": "User.Napta Id"}}, {"name": "user.external_id", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Unique reference of the User (see [External Ids](#tag/External-Ids)). Either `user.napta_id` or `user.external_id` must be provided (but not both).", "examples": ["agent-007"], "title": "User.External Id"}}, {"name": "project.napta_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "integer"}, {"type": "null"}], "default": null, "description": "Napta identifier of the Project. Either `project.napta_id` or `project.external_id` must be provided (but not both).", "examples": [1], "title": "Project.Napta Id"}}, {"name": "project.external_id", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Unique reference of the Project (see [External Ids](#tag/External-Ids)). Either `project.napta_id` or `project.external_id` must be provided (but not both).", "examples": ["mission-007"], "title": "Project.External Id"}}]}}, "/leaves": {"get": {"tags": ["Leave"], "summary": "Get leaves", "description": "Get all leaves.\n\nThis API endpoint employs pagination (see [Pagination](#tag/Pagination))", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LeaveGetResponseOK"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "parameters": [{"name": "pagination[cursor]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Identifier of the next item to fetch", "examples": ["MTAw"], "title": "Pagination[Cursor]"}}, {"name": "pagination[limit]", "in": "query", "required": false, "schema": {"default": 100, "description": "Maximum number of items to fetch", "examples": [100], "maximum": 500, "minimum": 1, "title": "Pagination[Limit]", "type": "integer"}}, {"name": "start_date[ge]", "in": "query", "required": false, "schema": {"anyOf": [{"format": "date", "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on leaves's start_date (greater or equal)", "examples": ["2021-01-01"], "title": "Start Date[Ge]"}}, {"name": "start_date[le]", "in": "query", "required": false, "schema": {"anyOf": [{"format": "date", "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on leaves's start_date (less or equal)", "examples": ["2021-01-01"], "title": "Start Date[Le]"}}, {"name": "end_date[ge]", "in": "query", "required": false, "schema": {"anyOf": [{"format": "date", "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on leaves's end_date (greater or equal)", "examples": ["2021-01-03"], "title": "End Date[Ge]"}}, {"name": "end_date[le]", "in": "query", "required": false, "schema": {"anyOf": [{"format": "date", "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on leaves's end_date (less or equal)", "examples": ["2021-01-03"], "title": "End Date[Le]"}}, {"name": "user.napta_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"exclusiveMinimum": 0, "type": "integer"}, {"type": "null"}], "default": null, "description": "Filter on Napta identifier of the User", "examples": [1], "title": "User.Napta Id[Eq]"}}, {"name": "user.napta_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple Napta identifier of the Users, comma separated", "examples": ["1,7"], "title": "User.Napta Id[In]"}}, {"name": "user.external_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on unique reference of the User (see [External Ids](#tag/External-Ids)).", "examples": ["agent-007"], "title": "User.External Id[Eq]"}}, {"name": "user.external_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple unique reference of the Users, comma separated (see [External Ids](#tag/External-Ids)).", "examples": ["agent-007,agent-q"], "title": "User.External Id[In]"}}]}, "put": {"tags": ["Leave"], "summary": "Load a leave", "description": "Create a new leave or update an existing one.\n\nTwo Leaves are considered the same if they are on the same period (dates + half days) for the same user.\n\nDuplicate leaves are not allowed. Sending an existing leave will only update its category.\n\nNote that you should avoid sending overlapping Leaves even if the API allows it.", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPILoadResponseSuccess"}}}}, "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPILoadResponseSuccess"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/LeaveLoadRequest"}}}}}, "delete": {"tags": ["Leave"], "summary": "Delete a leave", "description": "Delete a leave of a user (multiple deletions require multiple requests).", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIDeleteResponseOK"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "parameters": [{"name": "start_date", "in": "query", "required": true, "schema": {"description": "Start date of the Leave", "examples": ["2021-01-01"], "format": "date", "title": "Start Date", "type": "string"}}, {"name": "end_date", "in": "query", "required": true, "schema": {"description": "End date of the Leave", "examples": ["2021-01-04"], "format": "date", "title": "End Date", "type": "string"}}, {"name": "starts_at_midday", "in": "query", "required": false, "schema": {"default": false, "description": "Whether the Leave starts at midday", "title": "Starts At Midday", "type": "boolean"}}, {"name": "ends_at_midday", "in": "query", "required": false, "schema": {"default": false, "description": "Whether the Leave ends at midday", "title": "Ends At Midday", "type": "boolean"}}, {"name": "user.napta_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "integer"}, {"type": "null"}], "default": null, "description": "Napta identifier of the User. Either `user.napta_id` or `user.external_id` must be provided (but not both).", "examples": [1], "title": "User.Napta Id"}}, {"name": "user.external_id", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Unique reference of the User (see [External Ids](#tag/External-Ids)). Either `user.napta_id` or `user.external_id` must be provided (but not both).", "examples": ["agent-007"], "title": "User.External Id"}}]}}, "/assignments": {"get": {"tags": ["Assignment"], "summary": "Get assignments", "description": "Get all assignments.\n                The workload_unit parameter allows to choose the unit of the workload in the response.\n                If not provided, the workload will be in days. When hours is specified, the workload is converted using the hours per day setting of the user.\n                \n\nThis API endpoint employs pagination (see [Pagination](#tag/Pagination))\n\n**Lifecycle consideration**: Assignments that have transitioned back into Requests are not returned by this endpoint (see [Assignment](#tag/Assignment)).", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssignmentGetResponseOK"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "parameters": [{"name": "pagination[cursor]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Identifier of the next item to fetch", "examples": ["MTAw"], "title": "Pagination[Cursor]"}}, {"name": "pagination[limit]", "in": "query", "required": false, "schema": {"default": 100, "description": "Maximum number of items to fetch", "examples": [100], "maximum": 500, "minimum": 1, "title": "Pagination[Limit]", "type": "integer"}}, {"name": "id.napta_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"exclusiveMinimum": 0, "type": "integer"}, {"type": "null"}], "default": null, "description": "Filter on Napta identifier of the Assignment", "examples": [1], "title": "Id.Napta Id[Eq]"}}, {"name": "id.napta_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple Napta identifier of the Assignments, comma separated", "examples": ["1,7"], "title": "Id.Napta Id[In]"}}, {"name": "id.external_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on unique reference of the Assignment (see [External Ids](#tag/External-Ids)).", "examples": ["test-new-weapons"], "title": "Id.External Id[Eq]"}}, {"name": "id.external_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple unique reference of the Assignments, comma separated (see [External Ids](#tag/External-Ids)).", "examples": ["test-new-weapons,report-on-active-vilains"], "title": "Id.External Id[In]"}}, {"name": "user.napta_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"exclusiveMinimum": 0, "type": "integer"}, {"type": "null"}], "default": null, "description": "Filter on Napta identifier of the User", "examples": [1], "title": "User.Napta Id[Eq]"}}, {"name": "user.napta_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple Napta identifier of the Users, comma separated", "examples": ["1,7"], "title": "User.Napta Id[In]"}}, {"name": "user.external_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on unique reference of the User (see [External Ids](#tag/External-Ids)).", "examples": ["agent-007"], "title": "User.External Id[Eq]"}}, {"name": "user.external_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple unique reference of the Users, comma separated (see [External Ids](#tag/External-Ids)).", "examples": ["agent-007,agent-q"], "title": "User.External Id[In]"}}, {"name": "project.napta_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"exclusiveMinimum": 0, "type": "integer"}, {"type": "null"}], "default": null, "description": "Filter on Napta identifier of the Project", "examples": [1], "title": "Project.Napta Id[Eq]"}}, {"name": "project.napta_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple Napta identifier of the Projects, comma separated", "examples": ["1,6"], "title": "Project.Napta Id[In]"}}, {"name": "project.external_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on unique reference of the Project (see [External Ids](#tag/External-Ids)).", "examples": ["mission-006"], "title": "Project.External Id[Eq]"}}, {"name": "project.external_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple unique reference of the Projects, comma separated (see [External Ids](#tag/External-Ids)).", "examples": ["mission-007,mission-006"], "title": "Project.External Id[In]"}}, {"name": "simulated[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "default": null, "description": "Filter on whether the Assignment is simulated or not", "examples": [false, true], "title": "Simulated[Eq]"}}, {"name": "workload_unit", "in": "query", "required": false, "schema": {"default": "days", "description": "Expected unit of workload in the response", "enum": ["days", "hours", "rate"], "examples": ["days"], "title": "Workload Unit", "type": "string"}}, {"name": "custom_dropdown_field[as]", "in": "query", "required": false, "schema": {"$ref": "#/$defs/IdentifierType", "default": "name", "description": "Method to use to identify Custom Dropdown Field values on the referential.\nApplies only to the custom dropdown fields of the Assignment itself. The custom dropdown fields\nof its periods are controlled separately by `periods.custom_dropdown_field[as]`.\n\nPossible values are:\n- `name`: return custom dropdown field values as their name (case sensitive).\n- `identifier`: return custom dropdown field values as their identifier (napta_id or external_id)."}}, {"name": "periods.custom_dropdown_field[as]", "in": "query", "required": false, "schema": {"$ref": "#/$defs/IdentifierType", "default": "name", "description": "Method to use to identify Custom Dropdown Field values on the referential.\nApplies only to the custom dropdown fields of the Assignment's periods. The custom dropdown fields\nof the Assignment itself are controlled separately by `custom_dropdown_field[as]`.\n\nPossible values are:\n- `name`: return custom dropdown field values as their name (case sensitive).\n- `identifier`: return custom dropdown field values as their identifier (napta_id or external_id)."}}]}, "put": {"tags": ["Assignment"], "summary": "Load an assignment", "description": "Create a new assignment or update an existing one.\nIf the assignment already exists, it will be updated with the new data.\n\nUnset values in the body will be left unchanged.\nExplicitly setting a value to null will set the value to null on Napta as well.\n\n**Lifecycle consideration**: Requests that have transitioned into Assignments cannot be modified through this endpoint (see [Request](#tag/Request)). Attempting to do so will result in a 404 (Not Found) error with an appropriate message.", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPILoadResponseSuccess"}}}}, "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPILoadResponseSuccess"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssignmentLoadRequest"}}}}}, "delete": {"tags": ["Assignment"], "summary": "Delete an assignment", "description": "Delete an assignment of a user on a project (multiple deletions require multiple requests).\n\n**Lifecycle consideration**: Requests that have transitioned into Assignments cannot be deleted through this endpoint (see [Request](#tag/Request)). Attempting to do so will result in a 404 (Not Found) error with an appropriate message.", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIDeleteResponseOK"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "parameters": [{"name": "id.napta_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "integer"}, {"type": "null"}], "default": null, "description": "Napta identifier of the Assignment. Either `id.napta_id` or `id.external_id` must be provided (but not both).", "examples": [1], "title": "Id.Napta Id"}}, {"name": "id.external_id", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Unique reference of the Assignment (see [External Ids](#tag/External-Ids)).\nEither `id.napta_id` or `id.external_id` must be provided (but not both).", "examples": ["test-new-weapons"], "title": "Id.External Id"}}]}}, "/requests": {"get": {"tags": ["Request"], "summary": "Get requests", "description": "Get all requests.\n                The workload_unit parameter allows to choose the unit of the workload in the response.\n                If not provided, the workload will be in days. When hours is specified, the workload is converted using the hours per day setting of the user.\n                \n\nThis API endpoint employs pagination (see [Pagination](#tag/Pagination))\n\n**Lifecycle consideration**: Requests that have transitioned into Assignments are not returned by this endpoint (see [Request](#tag/Request)).", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RequestGetResponseOK"}}}}, "400": {"description": "Bad Request Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "422": {"description": "Unprocessable Data Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "404": {"description": "Object Not Found Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "403": {"description": "Access Denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}, "500": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IAPIResponseError"}}}}}, "parameters": [{"name": "pagination[cursor]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Identifier of the next item to fetch", "examples": ["MTAw"], "title": "Pagination[Cursor]"}}, {"name": "pagination[limit]", "in": "query", "required": false, "schema": {"default": 100, "description": "Maximum number of items to fetch", "examples": [100], "maximum": 500, "minimum": 1, "title": "Pagination[Limit]", "type": "integer"}}, {"name": "id.napta_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"exclusiveMinimum": 0, "type": "integer"}, {"type": "null"}], "default": null, "description": "Filter on Napta identifier of the Request", "examples": [1], "title": "Id.Napta Id[Eq]"}}, {"name": "id.napta_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple Napta identifier of the Requests, comma separated", "examples": ["1,7"], "title": "Id.Napta Id[In]"}}, {"name": "id.external_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on unique reference of the Request (see [External Ids](#tag/External-Ids)).", "examples": ["test-new-weapons"], "title": "Id.External Id[Eq]"}}, {"name": "id.external_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple unique reference of the Requests, comma separated (see [External Ids](#tag/External-Ids)).", "examples": ["test-new-weapons,report-on-active-vilains"], "title": "Id.External Id[In]"}}, {"name": "project.napta_id[eq]", "in": "query", "required": false, "schema": {"anyOf": [{"exclusiveMinimum": 0, "type": "integer"}, {"type": "null"}], "default": null, "description": "Filter on Napta identifier of the Project", "examples": [1], "title": "Project.Napta Id[Eq]"}}, {"name": "project.napta_id[in]", "in": "query", "required": false, "schema": {"anyOf": [{"minLength": 1, "type": "string"}, {"type": "null"}], "default": null, "description": "Filter on multiple Na
[...]
